Python is a general purpose language that can be used for various platforms. It is most widely used for Data science and web development. 
This notebook focuses on the data science part of the Python and the essentials for it.

# # Output and Input in python

In [2]:
# Print and input statement: 
print('Hello World')# Prints the expression or statement. 
hello=input('What is your Name?\n')
print(f'Hello {hello}')

Hello World
What is your Name?
Nusan
Hello Nusan

# Variables and Types in Python

1. String 
2. Integer
3. Float
4. Boolean

In [3]:
string='Nusan'
integer=89
floated=8.99999
boolean=True
print(type(string))
print(type(integer))
print(type(floated))
print(type(boolean))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

# Lists

1. Compound Data type or data container. 
2. Ordered, mutable. 
3. Contain any type of data

In [6]:
# Creating a list of 5 most populated countries:
countries=['China','India','US','Indonesia','Pakistan']
print(countries)
print(type(countries))

['China', 'India', 'US', 'Indonesia', 'Pakistan']
<class 'list'>

## Subsetting lists

In [27]:
pop=['China',1394015977,'India',1326093247,'US',329877505,'Indonesia',267026366]
# the first 2 most populated countries:
print(pop[0:4])
# the last country in the list:
print(pop[-2:])
# Reversing the list: 
print(pop[::-1])

['China', 1394015977, 'India', 1326093247]
['Indonesia', 267026366]
[267026366, 'Indonesia', 329877505, 'US', 1326093247, 'India', 1394015977, 'China']

# Manipulating lists

In [28]:
print(pop)
# Changing the country India to Brazil:
pop[2]='Brazil'
pop

['China', 1394015977, 'India', 1326093247, 'US', 329877505, 'Indonesia', 267026366]

['China',
 1394015977,
 'Brazil',
 1326093247,
 'US',
 329877505,
 'Indonesia',
 267026366]

In [16]:
dir(list) # List of methods that can be used with lists.

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [29]:
pop.append(['Nepal',98567])

In [30]:
pop

['China',
 1394015977,
 'Brazil',
 1326093247,
 'US',
 329877505,
 'Indonesia',
 267026366,
 ['Nepal', 98567]]

In [34]:
pop.index('Brazil')

2

In [35]:
len(pop)

9

In [37]:
del(pop[-1])

In [39]:
pop.extend(['Nepal',98567])

In [40]:
pop

['China',
 1394015977,
 'Brazil',
 1326093247,
 'US',
 329877505,
 'Indonesia',
 267026366,
 'Nepal',
 98567]

In [41]:
pop.index('Nepal')

8

## Functions, Methods and Packages

1. Functions are an efficient way of writing codes. 
2. Two types: Built in and User Defined.

In [46]:
# Built in functions 
first= [2,3,4,5,6,7,8,9,45,67,23,20,11,15]
sorting= sorted(first)
print(sorting)
descending= sorted(first,reverse=True)
print(descending)

# len: 
len(descending)

[2, 3, 4, 5, 6, 7, 8, 9, 11, 15, 20, 23, 45, 67]
[67, 45, 23, 20, 15, 11, 9, 8, 7, 6, 5, 4, 3, 2]

14

Methods are functions on the objects

In [50]:
# Checking out the methods using dir and help. All the methods take the .notation and () at the end.
dir(list)
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [51]:
# Packages are the directory of the python modules. Modules are nothing but python scripts. 
# They can be imported using the import keyword

## Numpy 1D and 2D

In [54]:
import numpy as np 
import pandas as pd

In [66]:
baseball=pd.read_csv('Data/baseball.csv') # Reading the csv files from the pandas package
weight_arr= baseball['Weight'].values
print(weight_arr)
len(weight_arr)

[180 215 210 ... 205 190 195]

1015

In [70]:
# Print out only the heights that are less than or equal to 200
below_200=weight_arr[weight_arr<=200]
len(below_200)
#Proportion of people with weight below 200: 
len(below_200)/len(weight_arr)*100

54.679802955665025

In [91]:
arr=np.array([weight_arr,baseball['Height'].values]).T #Transposing the array so that the row and columns are interchanged
print(arr.shape)
print(arr.ndim)
print(arr.size)
arr
arr[0:5,0] # Getting the first 5 players height. 
arr[-6:-1,0] # Getting the last 5 players height. 
arr[:,0].mean()# Print mean of the height
arr[:,1].mean()# Print mean of the weight

# Get the maximum and minimum height and weight of the players: 
print(arr[:,0].min())
print(arr[:,0].max())
print(arr[:,1].min())
print(arr[:,1].max())

(1015, 2)
2
2030
150
290
67
83

In [95]:
# Getting the data for the footballers
fifa=pd.read_csv('Data/fifa.csv')
fifa.head()
fifa.columns
fifa.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8847 entries, 0 to 8846
Data columns (total 19 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            8847 non-null   int64
 1    name         8847 non-null   object
 2    rating       8847 non-null   int64
 3    position     8847 non-null   object
 4    height       8847 non-null   int64
 5    foot         8847 non-null   object
 6    rare         8847 non-null   int64
 7    pace         8847 non-null   object
 8    shooting     8847 non-null   object
 9    passing      8847 non-null   object
 10   dribbling    8847 non-null   object
 11   defending    8847 non-null   object
 12   heading      8847 non-null   object
 13   diving       8847 non-null   object
 14   handling     8847 non-null   object
 15   kicking      8847 non-null   object
 16   reflexes     8847 non-null   object
 17   speed        8847 non-null   object
 18   positioning  930 non-null    float64
dtypes: float64(1), int64(4), object(14)
memory usage: 1.3+ MB

In [120]:
#Perform some statistics on the position and height 
np_heading=np.array(fifa[' heading'])
np_heights=np.array(fifa[' height'])
np_position.shape
np_heights.shape

(8847,)

In [123]:
tall_heights=np_heights[np_heights>199]
type(tall_heights)
print(tall_heights.shape)
print(np_heights.std())
print('Average height of the players is :', np_heights.mean())

(15,)
6.45399099502128
Average height of the players is : 181.75042387249914