## Iterators 
1. Iterables: Objects that can be iterated. 
2. Iterator: Object that allows iterables to iterate.

In [5]:
items=['bag','food','bed','phone','computer']
items_iterate=iter(items) # Creating an iterator object from the iterable.
next(items_iterate)

'bag'

In [6]:
next(items_iterate)

'food'

In [7]:
print(*items_iterate)

bed phone computer

In [10]:
num=iter(range(0,2000))
print(next(num))
print(next(num))

0
1

In [14]:
# Enumerate: 
for index,item in enumerate(items):
    print(f'{index} : {item}')

0 : bag
1 : food
2 : bed
3 : phone
4 : computer

In [25]:
# zip: 
items
stuff=['makeup','banana','monster','Google','app']
z=zip(items,stuff)
type(z)
for z1,z2 in z:
    print(f'{z2} is in {z1}')

makeup is in bag
banana is in food
monster is in bed
Google is in phone
app is in computer

In [44]:
#Unpacking the tuples:
z=zip(items,stuff)
z6=zip(*z)
z7,z8=z6
print(list(z7)==items)
print(list(z8)==stuff)
z7
items

True
True

['bag', 'food', 'bed', 'phone', 'computer']

### List Comprehensions and Generators
1. Requires iterables.
2. Iterator object 
3. Output Expression

In [50]:
nums=[2,3,4,5,6,7,8,9]
nums_10=[i+10 for i in nums] # List comprehension 
nums_10
type(nums_10)

list

In [52]:
items
items_s=[i+'s' for i in items] # List comprehension.
items_s

['bags', 'foods', 'beds', 'phones', 'computers']

In [55]:
g=[0,1,2,3,4,5]
h=[10,20,30,40,50,60]
lists_s=[(gi,hi)for gi in g for hi in h]
lists_s

[(0, 10),
 (0, 20),
 (0, 30),
 (0, 40),
 (0, 50),
 (0, 60),
 (1, 10),
 (1, 20),
 (1, 30),
 (1, 40),
 (1, 50),
 (1, 60),
 (2, 10),
 (2, 20),
 (2, 30),
 (2, 40),
 (2, 50),
 (2, 60),
 (3, 10),
 (3, 20),
 (3, 30),
 (3, 40),
 (3, 50),
 (3, 60),
 (4, 10),
 (4, 20),
 (4, 30),
 (4, 40),
 (4, 50),
 (4, 60),
 (5, 10),
 (5, 20),
 (5, 30),
 (5, 40),
 (5, 50),
 (5, 60)]

In [60]:
# Creating a matrix: 
matrix=[[col for col in range(5)] for row in range(5)]
matrix

[[0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4],
 [0, 1, 2, 3, 4]]

In [61]:
# Using conditionals with list comprehensions: 
nums=[2,3,4,5,6,7,8,9] #if 
nums_10=[i for i in nums if i>5] # List comprehension 
nums_10

[6, 7, 8, 9]

In [64]:
nums=[2,3,4,5,6,7,8,9] #if and else
nums_10=[i if i>5 else 0 for i in nums] # List comprehension 
nums_10

[0, 0, 0, 0, 6, 7, 8, 9]

In [66]:
# Dict comprehension: Takes in key and value pairs:
dictc={num:num+10 for num in nums}
dictc

{2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19}

### Generator and Generator functions

In [71]:
num_gen=(n for n in range(10000000000000)) # Creates a generator object and does not store the values.
print(type(num_gen))
next(num_gen)
next(num_gen)

<class 'generator'>

1

In [80]:
# Generator functions takes in yield instead of return
def cool(b):
    for l in b:
        print(str(l))
    yield l
cools=cool([2,3,4,5])

In [81]:
#Exercises:

In [84]:
import pandas as pd
tweets=pd.read_csv('Data/tweets.csv')
tweets.head()

,contributors,coordinates,created_at,entities,extended_entities,favorite_count,favorited,filter_level,geo,id,...,quoted_status_id,quoted_status_id_str,retweet_count,retweeted,retweeted_status,source,text,timestamp_ms,truncated,user
0,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...","{'media': [{'sizes': {'large': {'w': 1024, 'h'...",0,False,low,NaN,714960401759387648,...,NaN,NaN,0,False,"{'retweeted': False, 'text': "".@krollbondratin...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @bpolitics: .@krollbondrating's Christopher...,1459294817758,False,"{'utc_offset': 3600, 'profile_image_url_https'..."
1,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [{'text': 'cruzsexscandal', 'indi...","{'media': [{'sizes': {'large': {'w': 500, 'h':...",0,False,low,NaN,714960401977319424,...,NaN,NaN,0,False,"{'retweeted': False, 'text': '@dmartosko Cruz ...","<a href=""http://twitter.com"" rel=""nofollow"">Tw...",RT @HeidiAlpine: @dmartosko Cruz video found.....,1459294817810,False,"{'utc_offset': None, 'profile_image_url_https'..."
2,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402426236928,...,NaN,NaN,0,False,NaN,"<a href=""http://www.facebook.com/twitter"" rel=...",Njihuni me Zonjën Trump !!! | Ekskluzive https...,1459294817917,False,"{'utc_offset': 7200, 'profile_image_url_https'..."
3,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [], 'symbols...",NaN,0,False,low,NaN,714960402367561730,...,7.149239e+17,7.149239e+17,0,False,NaN,"<a href=""http://twitter.com/download/android"" ...",Your an idiot she shouldn't have tried to grab...,1459294817903,False,"{'utc_offset': None, 'profile_image_url_https'..."
4,NaN,NaN,Tue Mar 29 23:40:17 +0000 2016,"{'hashtags': [], 'user_mentions': [{'screen_na...",NaN,0,False,low,NaN,714960402149416960,...,NaN,NaN,0,False,"{'retweeted': False, 'text': 'The anti-America...","<a href=""http://twitter.com/download/iphone"" r...",RT @AlanLohner: The anti-American D.C. elites ...,1459294817851,False,"{'utc_offset': -18000, 'profile_image_url_http..."

In [85]:
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   contributors               0 non-null      float64
 1   coordinates                0 non-null      float64
 2   created_at                 100 non-null    object
 3   entities                   100 non-null    object
 4   extended_entities          20 non-null     object
 5   favorite_count             100 non-null    int64
 6   favorited                  100 non-null    bool
 7   filter_level               100 non-null    object
 8   geo                        0 non-null      float64
 9   id                         100 non-null    int64
 10  id_str                     100 non-null    int64
 11  in_reply_to_screen_name    11 non-null     object
 12  in_reply_to_status_id      8 non-null      float64
 13  in_reply_to_status_id_str  8 non-null      float64
 14  in_reply_to_user_id        11 non-null     float64
 15  in_reply_to_user_id_str    11 non-null     float64
 16  is_quote_status            100 non-null    bool
 17  lang                       100 non-null    object
 18  place                      3 non-null      object
 19  possibly_sensitive         72 non-null     object
 20  quoted_status              14 non-null     object
 21  quoted_status_id           14 non-null     float64
 22  quoted_status_id_str       14 non-null     float64
 23  retweet_count              100 non-null    int64
 24  retweeted                  100 non-null    bool
 25  retweeted_status           62 non-null     object
 26  source                     100 non-null    object
 27  text                       100 non-null    object
 28  timestamp_ms               100 non-null    int64
 29  truncated                  100 non-null    bool
 30  user                       100 non-null    object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [91]:
# Getting the timestamps
created_at=tweets['created_at']
listing=[entry[11:19] for entry in created_at]
listing

['23:40:17',
 '23:40:17',
 '23:40:17',
 '23:40:17',
 '23:40:17',
 '23:40:17',
 '23:40:18',
 '23:40:17',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:17',
 '23:40:18',
 '23:40:18',
 '23:40:17',
 '23:40:18',
 '23:40:18',
 '23:40:17',
 '23:40:18',
 '23:40:17',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:17',
 '23:40:18',
 '23:40:18',
 '23:40:17',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:19',
 '23:40:18',
 '23:40:18',
 '23:40:18',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:18',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:18',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:18',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19',
 '23:40:19']