# Writing own functions

In [2]:
# Function without parameter and no return: 
def hello():
    '''Prints Hello when it is called'''
    print('Hello')
hello() # Calling the function.

Hello

In [3]:
# Function with return values: 
def hi():
    """Returns hi when called"""
    return('Hi')
hi=hi()
hi

'Hi'

In [4]:
# Functions with multiple parameters and returns the value:
def raise_value(num1,num2):
    '''Raises the power of num1 by num2 and vice versa'''
    first_value=num1**num2
    second_value=num2**num1
    return(first_value,second_value)
answer=raise_value(2,3)
answer

(8, 9)

### Tuples
1. Immutable
2. Ordered
3. Can contain any data types

In [14]:
tuple1=('When',8,7,'Hello','Bye')
tuple1

('When', 8, 7, 'Hello', 'Bye')

In [16]:
# Unpacking the tuples: 
f,s,*t=tuple1
print(t) # turns into list
print(type(t))
print(s)
print(type(s))
print(f)
print(type(f))

[7, 'Hello', 'Bye']
<class 'list'>
8
<class 'int'>
When
<class 'str'>

In [20]:
import pandas as pd
tweets=pd.read_csv('Data/tweets.csv')
tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 31 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   contributors               0 non-null      float64
 1   coordinates                0 non-null      float64
 2   created_at                 100 non-null    object
 3   entities                   100 non-null    object
 4   extended_entities          20 non-null     object
 5   favorite_count             100 non-null    int64
 6   favorited                  100 non-null    bool
 7   filter_level               100 non-null    object
 8   geo                        0 non-null      float64
 9   id                         100 non-null    int64
 10  id_str                     100 non-null    int64
 11  in_reply_to_screen_name    11 non-null     object
 12  in_reply_to_status_id      8 non-null      float64
 13  in_reply_to_status_id_str  8 non-null      float64
 14  in_reply_to_user_id        11 non-null     float64
 15  in_reply_to_user_id_str    11 non-null     float64
 16  is_quote_status            100 non-null    bool
 17  lang                       100 non-null    object
 18  place                      3 non-null      object
 19  possibly_sensitive         72 non-null     object
 20  quoted_status              14 non-null     object
 21  quoted_status_id           14 non-null     float64
 22  quoted_status_id_str       14 non-null     float64
 23  retweet_count              100 non-null    int64
 24  retweeted                  100 non-null    bool
 25  retweeted_status           62 non-null     object
 26  source                     100 non-null    object
 27  text                       100 non-null    object
 28  timestamp_ms               100 non-null    int64
 29  truncated                  100 non-null    bool
 30  user                       100 non-null    object
dtypes: bool(4), float64(9), int64(5), object(13)
memory usage: 21.6+ KB

In [25]:
lang=tweets['lang']

In [27]:
# Counting the number of entries in lang column:
langs_count=dict()
for entry in lang:
    if entry in langs_count.keys():
        langs_count[entry]+=1
    else:
        langs_count[entry]=1
print(langs_count)

{'en': 97, 'et': 1, 'und': 2}

In [34]:
# Using user defined function to count the entries in lang column:
def count_entries(df,col_name):
    lang_count=dict()
    col=df[col_name]
    for entry in col:
        if entry in lang_count.keys():
            lang_count[entry]+=1
        else:
            lang_count[entry]=1
    return lang_count
count=count_entries(tweets,'lang')
print(count)

{'en': 97, 'et': 1, 'und': 2}

### Scope
part of the program where the object or the code can be found 
1. Global scope: object is in the main function. 
2. Local scope: object is defined in the user defined function body. 
3. Built in scope: object is pre defined in the builtin module.
4. Enclosed function in scope: Inside the enclosing function.

In [39]:
# global keyword can be used to alter the variable in the user defined function:
number=12
def square(h):
    """Returns the value of the value given in the number variable."""
    global number
    number=number**2
    return number
total=square(23)
print(total)
print(number) # Value for the number is changed after altering it using the global keyword.

144
144

In [40]:
# non local keyword can be used to alter the variable in the enclosing function:
number=34
def raises(i):
    """Returns the inner function"""
    def inner(u):
        val=i**u
        return val
    return inner
cube=raises(3)
cube(3)

27

In [44]:
# Using non local: 
def change():
    n=20
    def inner():
        nonlocal n
        n=30
        return n
    return inner
changed=change()
changed()

30

### Default and flexible arguments

In [8]:
def hi(name,times=1): #Default parameters 
    no_of_times=(name*times)
    return ('Hello' + ' ' + str(no_of_times))
one=hi('Nusan')
two=hi('Nusan',5)

print(one)
print(two)

Hello Nusan
Hello NusanNusanNusanNusanNusan

In [22]:
def hiya(*args): # Store any no.of values given in a tuple.
    for index, i in enumerate(args):
        print(str(index) +  ':' + i)
    return 
hu=hiya('Nusan','Nutan','Prapti')
type(hu)

0:Nusan
1:Nutan
2:Prapti

NoneType

In [26]:
def dict0(**kwargs): # turns values into dictionaries
    return kwargs 
dicti=dict0(name='Nusan',phone=456456,address='US')
dicti

{'name': 'Nusan', 'phone': 456456, 'address': 'US'}

### Lambda function

1. They are defined with the keyword lambda. 
2. Makes the code shorter and concise. 
3. Used with anonymous functions: map, filter and reduce.

In [30]:
squaring=lambda x,y: x**y
squaring(4,5)

1024

In [32]:
concatenating=lambda x,y:x+y
concatenating('YO',"HEY")

'YOHEY'

In [35]:
# Map function: # Performs operations on every single element.
x=[2,3,4,5,6,7,8,9]
y=map(lambda x:x**2,x)
y
list(y)

[4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
#Filer function: filters out elements that do not satisfy certain condition.
print(x)
y1=filter(lambda element:element>5,x)
list(y1)

[2, 3, 4, 5, 6, 7, 8, 9]

[6, 7, 8, 9]

In [44]:
#reduce function: Returns a single value by taking two arguments.
from functools import reduce
print(x)
y2=reduce(lambda x1,x2:x1+x2,x)
y2

[2, 3, 4, 5, 6, 7, 8, 9]

44

### Error Handling
1. try: testing out the part where we feel there is an error.
2. except: catching the error
3. raise: raising an error

In [46]:
def raise_value(num1,num2):
    '''Raises the power of num1 by num2 and vice versa'''
    if num1<=0 or num2<=0:
        raise ValueError ('Please make sure that the values given are positive integer')
    try:
        first_value=num1**num2
        second_value=num2**num1
        return(first_value,second_value)
    except: 
        print('Please make sure that the values given are integers or floats')
answer=raise_value(-1,3)
answer

ValueError: Please make sure that the values given are positive integer